[submodule "Pods"]
	path = Pods
	url = https://github.com/signalapp/Signal-Pods.git
[submodule "ThirdParty/WebRTC"]
	path = ThirdParty/WebRTC
	url = https://github.com/signalapp/signal-webrtc-ios-artifacts
[submodule "ThirdParty/RingRTC"]
	path = ThirdParty/RingRTC
	url = https://github.com/signalapp/ringrtc
