<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:signal.art</string>
		<string>applinks:signal.group</string>
		<string>applinks:signal.me</string>
	</array>
	<key>com.apple.developer.default-data-protection</key>
	<string>NSFileProtectionComplete</string>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.$(SIGNAL_MERCHANTID)</string>
	</array>
	<key>com.apple.developer.usernotifications.communication</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.$(SIGNAL_BUNDLEID_PREFIX).signal.group</string>
		<string>group.$(SIGNAL_BUNDLEID_PREFIX).signal.groupst</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)$(SIGNAL_BUNDLEID_PREFIX).signal</string>
	</array>
</dict>
</plist>
