<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>StringsTable</key>
        <string>Acknowledgements</string>
        <key>PreferenceSpecifiers</key>
        <array>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>MMDrawerController</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>MMDrawerController2</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>MMDrawerController3</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>MMDrawerController4</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>MMDrawerController5</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>OpenSSL</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>OpenSSL2</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>OpenSSL3</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>OpenSSL4</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>OpenSSL5</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>OpenSSL6</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers2</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers3</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers4</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers5</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers6</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers7</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers8</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers9</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers10</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers11</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers12</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers13</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers14</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers15</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers16</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers17</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers18</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers19</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers20</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers21</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers22</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers23</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers24</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers25</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers26</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers27</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers28</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers29</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers30</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers31</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers32</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers33</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers34</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers35</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers36</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers37</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers38</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers39</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers40</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers41</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers42</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers43</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers44</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>ProtoBuffers45</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp2</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp3</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp4</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp5</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp6</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp7</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp8</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp9</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp10</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp11</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp12</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp13</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp14</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp15</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp16</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp17</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp18</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp19</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp20</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp21</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp22</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp23</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp24</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp25</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp26</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp27</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp28</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp29</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp30</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp31</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp32</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp33</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp34</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp35</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp36</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp37</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp38</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp39</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp40</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp41</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp42</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp43</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp44</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp45</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp46</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp47</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp48</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp49</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp50</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp51</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp52</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp53</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp54</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp55</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp56</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp57</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp58</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp59</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp60</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp61</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp62</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp63</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp64</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp65</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Spandsp66</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Speex</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Speex2</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>Speex3</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS2</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS3</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS4</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS5</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS6</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS7</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS8</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS9</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS10</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS11</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS12</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS13</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS14</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS15</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS16</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS17</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS18</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS19</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS20</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS21</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS22</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS23</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS24</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS25</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS26</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS27</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>libPhoneNumber-iOS28</string>
                </dict>
        </array>
</dict>
</plist>
